@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    font-weight: 300;
    src: url("../src/assets/font/Poppins-Light.ttf") format("ttf"),
      url("../src/assets/font/Poppins-Light.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: url("../src/assets/font/Poppins-SemiBold.ttf") format("ttf"),
      url("../src/assets/font/Poppins-SemiBold.woff") format("woff");
    font-display: swap;
  }
}

*{
  padding: 0;
  margin: 0;
}
